*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body{
    background-color: #333;
    user-select: none;
}
.banner{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f09da;
    z-index: 1;
    clip-path: circle(15vw at var(--x) var(--y));
}
.banner h2{
    position: relative;
    color: transparent;
    -webkit-text-stroke: 4px #333;
    font-size: 25vw;
    pointer-events: none;
    font-weight: bold;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content h2{
    position: relative;
    color: transparent;
    pointer-events: none;
    -webkit-text-stroke: 4px #5909da;
    font-size:25vw;
    font-weight: bold;
}